/*スマホ・タブレット向け*/

@media screen and (max-width: 960px) {
    body {
        background-color: azure;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .back-button {
        width: 80px;
        height: 80px;
        background-color: lightyellow;
        border: solid 4px black;
        border-radius: 50%;
        text-align: center;

        /*画面左下に固定*/
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
    }

    .button-text {
        font-size: 0.8rem;
        line-height: 1.8rem;
        font-weight: bold;
        color: coral;
        text-shadow: 0.1rem 0.1rem 2px lightgray;
    }

    .header {
        width: 100%;
        text-align: center;
    }

    .Name {
        font-size: 1.8rem;
        line-height: 5rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
        cursor: pointer;
    }

    .naMe {
        font-size: 2.0rem;
        line-height: 5rem;
        font-weight: bold;
        font-family: sans-serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
        cursor: pointer;
    }

    .undername {
        font-size: 1.0rem;
        line-height: 2rem;
        font-weight: bold;
        font-family: serif;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px orangered;
    }

    .during-space {
        width: 100%;
        height: 1rem;
    }

    .during-line {
        width: 60%;
        height: 6px;
        border-radius: 10px;
        margin: 0 0 auto auto;
        background-color: navy;
    }

    table {
        width: 100%;
        margin: 0 auto;
    }

    .year-cell {
        width: 10%;
        text-align: center;
    }

    .year {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: bold;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .month-cell {
        width: 10%;
        text-align: center;
    }

    .month {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: bold;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .day-cell {
        width: 10%;
        text-align: center;
    }

    .day {
        font-size: 1.0rem;
        line-height: 2.5rem;
        font-weight: bold;
        color: black;
        text-shadow: 0.1rem 0.1rem 2px gray;
    }

    .void-space {
        width: 0%;
    }

    .title-cell {
        width: 70%;
        text-align: center;
    }

    .diary-title-pc {
        display: none;
    }

    .diary-title-ms {
        font-size: 1.1rem;
        line-height: 2.5rem;
        font-weight: bold;
        color: black;
        text-shadow: 0.1rem 0.1rem 4px yellowgreen;
    }

}
